<header class="site-header {{#if page_type '===' 'default'}}transparent_header{{/if}}">
  <div class="bc-container">
    <div class="header-wrapper">
      <!-- header logo  -->
      {{#if page_type '===' 'default'}}
        <h1 class="logo-wrap">{{> components/common/custom-logo}}</h1>
      {{else}}
        <div class="logo-wrap">{{> components/common/custom-logo}}</div>
      {{/if}} 
      <!-- menu toggle btn -->
      <div class="header-menu-toggle">
        <span class="menu_toggle_btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="15" viewBox="0 0 27 15" fill="none">
            <rect width="27" height="1" fill="white"/>
            <rect x="12" y="7" width="15" height="1" fill="white"/>
            <rect x="7" y="14" width="20" height="1" fill="white"/>
          </svg>
        </span>
      </div>
      <!-- Menu start -->
      <div class="header-menu-container">
          <nav class="header-menu-wrapper">
            <ul class="list-menu list-menu--inline" role="list">
              <li><a href=""
                  class="header__menu-item">
                  <span>About Us</span>
                </a></li>
              <li><a href=""
                  class="header__menu-item">
                  <span>Products</span>
                </a></li>
              <li><a href="" class="header__menu-item">
                  <span>Press</span>
                </a></li>
              <li><a href="" class="header__menu-item">
                  <span>Blog</span>
                </a></li>
              <li><a href="" class="header__menu-item">
                  <span>Careers</span>
                </a></li>
              <li class="button_wrapper">
                <a href="" class="btn primary-btn">Jiva Petani</a>
                <a href="" class="btn secondary-btn">AgriCentral</a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</header>
<script>
  const SiteHeader = document.querySelector(".site-header");
  const scrollThreshold = 80;

  window.addEventListener("scroll", () => {
      const scrollPosition = window.scrollY || window.pageYOffset;

      if (scrollPosition > scrollThreshold) {
        SiteHeader.classList.add("sticky-header");
      } else {
        SiteHeader.classList.remove("sticky-header");
      }
  });
</script>
